@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Saans";
  src: url("/fonts/SaansLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/SaansRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saans";
  src: url("/fonts/SaansSemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --ds-neutral-100: #022011;
  --ds-orange-60: #fd8f18;
  --ds-yellow-10: #fff9eb;
  --ds-seagreen: #008542;
  --ds-crimson: #c20024;
}

body {
  @apply bg-ds-neutral-0 text-ds-neutral-100 antialiased font-saans;
}

