@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ds-neutral-100: #022011;
  --ds-orange-60: #fd8f18;
  --ds-yellow-10: #fff9eb;
  --ds-seagreen: #008542;
  --ds-crimson: #c20024;
}

body {
  @apply bg-ds-neutral-0 text-ds-neutral-100 antialiased font-saans;
}
